<div class="main actor-show">
  <div class="container">
    
    <!-- Display an actor's info here -->
    <div class="actor">
      <!-- actor image -->
      <div class="info">
        <h3 class="actor-name">  </h3>
        <p class="actor-bio">  </p>
      </div>
    </div>

    <h2>Movies</h2>
    <!-- Display each movie's info here -->
    <div class="movie">
      <!-- movie image -->
      <h3 class="movie-title">  </h3>
      <p class="movie-release-year">  </p>
      <p class="movie-plot">  </p>
    </div>

  </div>
</div>
